.popup-menu-item-buttons {
    spacing: 8px;
}

.popup-menu-item-buttons .button {
    padding: 4px;
    border-radius: 999px;
    width: 24px;
    height: 24px;
}

.popup-menu-item-buttons .button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.popup-menu-icon {
    icon-size: 16px;
}

.note-item-box {
    spacing: 8px;
}

.note-item-spacer {
    min-width: 1px;  /* Needed for the spacer to work properly */
}

.note-search-entry {
    margin: 0 12px;
    min-height: 24px;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
}

.note-search-entry:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.15);
}

.note-search-entry:focus {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
}

.note-dialog-content {
    spacing: 20px;
    padding: 16px;
    width: 300px;
}

.note-dialog-entry {
    width: 100%;
    padding: 8px;
}
